table {
    align-content: center;
    text-align: center;
    border: 1px;
    border-style: solid;
} 
th {
    border: 1px;
    border-style: solid; 
}

td {
    border: 1px;
    border-style: solid;
}


.bg-img-index { 
    background-image: url(start.jpg) ;
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    background-color: #999;
    max-width: 100%;
    height: auto;
    display: block;

}

.bg-img-login { 
    background-image: url(loginscreen.jpg) ;
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    background-color: #999;
    max-width: 100%;
    height: auto;
    display: block;

}

.formDiv {
    height: 55px;
}
